<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.rsmbyk.course.mdp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_mobile"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mobile_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".ui.menu.MenuActivity" android:label="@string/activity_label_mobile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.calculator.CalculatorActivity"
            android:label="@string/activity_label_calculator"
            android:parentActivityName=".ui.menu.MenuActivity"/>

        <activity
            android:name=".ui.camera.CameraActivity"
            android:label="@string/activity_label_camera"
            android:parentActivityName=".ui.menu.MenuActivity"/>

        <activity
            android:name=".ui.networking.NetworkingActivity"
            android:label="@string/activity_label_networking"
            android:parentActivityName=".ui.menu.MenuActivity"/>

    </application>

</manifest>
